.custome_navegacion{
    background-color: rgb(39, 39, 39) !important;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    border-radius: $border-general;
    outline: 2px solid white;
    outline-offset: -6px;
    --bs-navbar-brand-margin-end: 20rem;
    width: 100%;
    z-index: 1000; 
        a{
            color:$color_texto_claro;
            text-decoration: none;
            &:focus,&:hover{
                color: $color_principal;  
            } 
        }
}

.custome_brand{
    @include font-style($fuente-secundaria, 3rem, italic, lighter);
    text-align: center;
}
.custome_toggler{
    background-color: white !important;
}
.custome_navegacion_botones {
    @include font-style($fuente-secundaria, 2rem, normal, normal);
    text-align: center;
 
}

/* INICIO DESPLEGABLE */
.custome_dropdown{
    &:focus{
        color: $color_principal !important;
    }  
}

.custome_dropdownmenu{
    --bs-dropdown-bg: azure;
    font-size: 1.5rem;
        a{
            color: $color_texto_oscuro;
            &:hover{
                color: $color_texto_oscuro; 
            }
        }
}

.custome_dropdownmenu_botones{
    
        &:hover{
            background-color:  $color_principal;
        }
        
        &:focus{
            background-color: blueviolet;
        }
}

/* FIN DESPLEGABLE */

.navegacion__redes{
    @include grids(3);
    column-gap: 40px;
    margin-top: 10px;
    margin-right: 20px;
        img{
            width: 50px;
            height: 50px;
            transition: 0.5s;
            &:hover{
                transform: scale(1.4);
            }
        }
}

.custome_lupa{
    --bs-btn-color: $color_principal;
    --bs-btn-border-color: $color_principal;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: $color_principal;
    --bs-btn-hover-border-color: $color_principal;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: $color_principal9;
    --bs-btn-active-border-color: $color_principal;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $color_principal;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: $color_principal;
    --bs-gradient: none;

}