// VARIABLES
$color_principal:#E41D69;
$color_contenedores: azure;
$color_texto: #000000;

$fuente-principal: "Roboto Flex", serif;
$fuente-secundaria: "Permanent Marker", serif;
$fuente-terciaria: "Bebas Neue", serif;

$padding-general: 10px;
$border-general: 30px;

$sombra-texto: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

